You are booking {{venue.title}}

<form action="/venues/bookVenue" id="newVenue" method="post" name"Booking form">
    <label for="fName">Users first name:</label>
    <input type="text" id="fName" placeholder="Given name" name="first_name" required></input>
    <label for="sName">Users family Name:</label>
    <input type="text" id="sName" placeholder="Family name" name="last_name" required></input>
    <label for="contactForm">User Contact details:</label>
    <input type="text" id="contactForm" placeholder="Contact details" name="contact" required></input>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" placeholder="gender" name="gender" required></input>
    <input type="submit" value="Sumbit">
</form>