<h2>ARE YOU SURE YOU WANT TO REMOVE THE VENUE {{venueDel.title}} FROM THE VENUES LIST</h2>

<form action="/venues/delete" method="post"> <input type="hidden" id="id" name="id" value="{{user.id}}"></input> <section id="selection"><button type ="submit" id="yes">Yes</button></form> <a href="/users">No</a></section>