<h2>ARE YOU SURE YOU WANT TO REMOVE {{user.first_name}} FROM BOOKING {{user.venue}}</h2>

<form action="/users/delete" method="post"> <input type="hidden" id="id" name="id" value="{{user.id}}"></input> <section id="selection"><button type ="submit" id="yes">Yes</button></form> <a href="/users">No</a></section>