<main>
    <section>

        <h2>Welcome to Vendle venues</h2>

        <p class="aboutUsText" role="main" aria-label="mainContent"> Welcome are you looking for you next venue well look no further at Vendle venues we are the one stop
            in all a varity of catering needs. Select from
            many of our venues from a quite village hall to the grandest villa. not sure what to look for check out our venue section
            within
            our <a href="/venues">Venue sestion</a>
            to get a taste of we offer. Not happy with your results please feel free to contact us via the details below and we will try to responde and
            cater to your needs as best as possiable </p>

    <section>
        <h2 aria-label="FAQ">Frequently asked questions</h2>


        <h3>Where can we find your collection?</h3>

        <p>simpley head to our <a href="/venues">Venues</a> page</p>

        <h3>Im not sure if you have a venue we want how do I check?</h3>

        <p>Either check our the veneus page on the catalog page or contact us for enquirers </p>

        <h3>How can I get in touch?</h3>

        <p>You can contact us via..</p>

        <ul>
            <li>Our phone on 07945798239</li>
            <li>Our email at vendlevenues@email.com</li>
        </ul>
</main>